<body>
<section class="home-page">
    <div class="home-content container text-center">
        <h1>We connect people with the <span style="color: #b67285;"> Planetarium </span> to improve their education of all planets.</h1>
        <p>Planetarium since 2021 is nonprofit organisation helping people explore the connection to nature through education and visualization of realtime data, open library education.</p>
        <button type="button" class="btn btn btn-lg">Learn More</button>
        <button type="button" class="btn btn btn-lg">Contact us &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
</section>
</body>