<script src="/js/main.js"></script>
</body>
    <footer class="container-fluid">
        <p class="footer-text">Copyright &copy; 2021 &nbsp; 
             <a href="https://github.com/viktorsta"><i class="social fa fa-github" aria-hidden="true"></i></a> 
             <a href="https://twitter.com"><i class="social fa fa-twitter" aria-hidden="true"></i></a>
             <a href="https://facebook.com"><i class="social fa fa-facebook" aria-hidden="true"></i></a>
             <a href="https://linkedin.com"><i class="social fa fa-linkedin" aria-hidden="true"></i></a>
         </p> 
    </footer>
</html>