<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/planets">Planetarium</a>
            <li class="nav-item">
            <a class="nav-link" href="#">Creator</a>
            <li class="nav-item">
            <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            <li class="nav-item">
        </ul>
      </div>
    </div>
  </nav>
